Source: ipyr 
Section: gnu-r
Priority: optional
Maintainer: Jeroen Ooms <jeroen.ooms@stat.ucla.edu>
Build-Depends: r-base-dev (>= 3.0), xvfb, xauth, xfonts-base, debhelper (>> 4.1.0), libzmq3-dev, libcurl4-openssl-dev, ipython-notebook, python-pip, libapparmor-dev
Standards-Version: 3.9.4

Package: ipyr
Architecture: any
Depends: r-base (>= 3.0), libzmq3, ipython-notebook (>= 1.2.1), python-pip, apparmor-utils
Description: R kernel for ipython

